import(fda)


S3method(plot,ITP1)
S3method(plot,ITP2)
S3method(plot,ITPaov)
S3method(plot,ITPlm)
S3method(plot,IWT1)
S3method(plot,fdatest2)
S3method(plot,IWTaov)
S3method(plot,IWTlm)
S3method(summary,ITPaov)
S3method(summary,ITPlm)
S3method(summary,IWTaov)
S3method(summary,IWTlm)
export(ITP1bspline)
export(ITP1fourier)
export(ITP2bspline)
export(ITP2fourier)
export(ITP2pafourier)
export(ITPaovbspline)
export(ITPimage)
export(ITPlmbspline)
export(IWT1)
export(IWT2)
export(IWTaov)
export(IWTimage)
export(IWTlm)
export(Global2)
export(FDR2)
export(PCT2)
export(TWT2)
export(TWTaov)
export(TWTlm)
export(Globalaov)
export(Globallm)
export(fdatest2)

importFrom("grDevices", "devAskNewPage", "rainbow")
importFrom("graphics", "abline", "axis", "image", "layout", "lines",
           "matlines", "matplot", "par", "plot", "points", "rect")
importFrom("stats", "aov", "as.formula", "cov", "fft", "lm", "lm.fit",
           "model.frame", "model.matrix", "model.response", "optimize",
           "rbinom", "summary.lm", "terms")
importFrom("utils", "combn")